@font-face {
    font-family: Avenir;
    src: url("fonts/Avenir/Avenir.ttc");
}

@font-face {
	font-family: "Helvetica Neue":
	src: url("fonts/HelveticaNeue/HelveticaNeue.dfont");
}


.container{
	margin-top: 8em;
	width: 85% !important;
	margin-left: 7% !important;
}

body {
	font-family: "Avenir-Book" "Avenir Book" !important;
	background-color: #F9F9F9 !important;
	border: 14px solid #E8E8E8;
/*	#1c1c1c;*/
}

.col-md-6{
	text-align: center;
}

.col-md-4{
	text-align: center;
}

.faded{
	color:rgba(148, 146, 146, .5);
	letter-spacing: .25em;
	font-size: 10px;
	padding-top: 3.5em;
	padding-bottom: 3.5em;
	margin-top: 35px;
}


p{
	font-family: Avenir;
	font-style: normal;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 3px !important;
	color:#1c1c1c;

/*	#ececec;
*/}


a:link{
	color:rgba(255, 102, 102, 0.9);
	text-decoration: underline;

}

a:visited{
	color:rgba(255, 102, 102, 0.9);
	text-decoration: underline;
}

a:hover{
	color: #84F4DB !important;
	transition-duration: .2s;
	transition-timing-function: ease-out;
}



.square{
	width:89% !important;
	margin-left: 6%;
	height:auto;
	min-height: 350px !important;
	min-height: 280px;
	border-radius: 5px;
/*	background: #ececec;*/
	/*202020*/
	box-shadow: 2px 3px 5px rgba(0,0,0,.06);
	overflow: hidden !important;
	position: relative;

}
/*
.square:hover {
	background-color: rgba(148, 146, 146, .25);
	transition: .5s ease-out;

}*/


.info{
	margin-top:70px; 
	margin-bottom:75px;
	color:#4D4D4D;
	line-height: 40px;
	text-align: left;
	font-size: 1.4em;

}

.proj{
	margin-top: 8% !important;
	margin-right: 40px !important;

}

.title{
/*	font-family: "HelveticaNeue-Light";

*/	font-family: Avenir;
	letter-spacing: .2em;
	font-size: 2em;
	width:45% !important;
	margin-bottom: 50px;
}

.date{
	color: #BEBEBE;
}

.tag{
	background-color: rgba(118, 232, 207, 0.72);
/*	rgba(255,38,0,.8);*/
	font-style: italic;
	width:auto;
	font-size: 11px;
	color:rgba(255,255,255,.9);
	padding: 0px 0px 0px 3px;
	margin: 5px 3px 30px 0px;
	border-radius: 1px;
	display: inline-block;
}



/*
.browser{
	padding: 3% 0% 2% 5%;
	width:90% !important;
}

.ios{
	overflow: hidden;
	width: 54% !important;
	position: absolute;
	top: -210px;
	left:110px;
}

@media screen and ( max-width: 700px ) {
  .ios {
    position: relative;
  	height: ;
	left:80px !important;
	top:15px; 
  }

  .square{
  	height: auto;
  	margin-bottom: 4%;
  }
}
*/

.foot{
	width:100%; 
	margin:auto; 
	font-size: 10px;
	color:#e5e4e4; 
	letter-spacing:.25em; 
	padding:200px 0px 50px 0px;
	text-align: center;
}

